.wrapper_add-book{
    height: 100vh;
    overflow-x: hidden;
    background-color: white;
    overflow-y: scroll;
    
}
.regis-header{
    display: flex;

}
.arrow{
    position: relative;
    top:10px;
    left: 20px;
}
.detail{
   left: 37px;
   top:50px;
   position: relative;

}

.regis-book-form{
    width: 80%;
    
    margin: 40px auto 0 auto;
}

.regis-img{
    display: flex;
    margin-top: 20px;
    flex-direction: column;
}
.img-d{
    width: 120px;
    height: 150px;
    margin-left: 20px; 
    background-color: rgb(167, 170, 170);
}
.pos-btn{
    position: relative;
    right: -350px;
    top: -50px;
}
.regis-img label{
    margin-top: 20px;
    margin-bottom: 10px;
    
}
.regis-tittle{
    display: flex;
    gap: 20px;
    margin: 20px 0;
}
.regis-tittle input{
    margin-left: 70px;
}
.regis-author{
    display: flex;
    gap: 20px;
    margin: 20px 0;
}
.regis-author input{
    margin-left: 54.5px
}
.regis-isbn{
    display: flex;
    gap: 20px;
    margin: 20px 0;
}
.regis-isbn input{
    margin-left: 63px;

}
.regis-department{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;
}
.regis-department input{
    margin-left: 20px;
}
.radio-box{
    display: flex;
    gap:10px;
    margin: 5px 0;
    flex-wrap: wrap;
    width: 650px;
}

.regis-desc{
    display: flex;
    gap: 20px;
    margin: 20px 0;
}
.regis-desc input{
    margin-left: 60px
}
.regis-Q{
    display: flex;
    gap: 20px;
    margin: 20px 0;
}
.regis-Q input{
    margin-left:70px;
}
.regis-Pdate{
    display: flex;
    gap: 20px;
    margin: 20px 0;
}
.regis-Pdate input{
    margin-left: 46px;
}
.sub-btn{
    display: flex;
    justify-content: space-around;
}
.sub-btn button{
    padding: 10px 15px;
    border-radius:20px;
    border: none;
    background-color: rgb(160, 160, 160);
    transition: all 1s;
    
}

.sub-btn button:hover{
    padding: 10px 15px;
    border-radius:20px;
    border: none;
    background-color: rgb(226, 226, 226);
    transition: all 1s;
    transform: scale(1.1);
}